# Site
mkdocs-material
mkdocs-material-extensions
markdown-grid-tables
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin

# Exercicios
numpy
pandas
matplotlib
scikit-learn
